.carousel_container {
  display: block;
  width: 100%;
}
  
.carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 92px;
}

.card {
  width: 200px;
  min-width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.card img {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
}

.card-title-tablet {
  display: none;
}

.card-title-mobile {
  width: 80%;
  text-align: center;
}

.carousel_button {
  display: none;
}

footer {
  width: 100%;
  height: 48px;
  background-color: black;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card-title-mobile {
    display: none;
  }

  .card-title-tablet {
    display: block;
    text-align: center;
  }

  .carousel_container {
    height: 100%;
  }

  .carousel {
    gap: 1px;
    height: 100%;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    margin: auto;
  }

  .card {
    display: flex;
    width: 200px;
    height: 280px;
    margin: 0 15px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
  }

  .card.adjacent {
    height: 280px;
    display: flex;
    opacity: 0.5;
  }

  .card.centered {
    height: 300px;
    display: flex;
    opacity: 1;
    transform: scale(1);
  }
      
  .card-image {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
  }

  .carousel_button {
    display:block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    z-index: 2;
    top: calc(50% - 48px);
  }
    
  .card-image.faded {
    opacity: 0.5;
    height: 60%;
  }

  .carousel_button.left {
    left: 0;
    }
    
  .carousel_button.right {
    right: 0;
  }
  
  .carousel_button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@media only screen and (min-width: 1024) {
  
}