:root {
  --color-accent: #0079BD;
  --color-background: white;
  --color-background-dark: black;

  --margin-mobile-y: 48px;
  --margin-mobile-x: 24px;
  --max-width: 1024px;
  
  --letter-spacing: -1px;

}

/*HEADER*/

header {
  display: flex;
  align-items: center;
  padding: 16px;
  height: 72px;
  flex-direction: row;
  background-color: var(--color-background);
}

header ul {
  display: none;
  text-decoration: none;
}

header li {
  text-decoration: none;
  text-decoration-style: none;
}

header span {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(./assets/images/icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  display: block;
  background-color: var(--color-accent);
  margin-left: auto;
}

/*Productos*/

.products {
  position: relative;
  display: flex;
  z-index: 2;
  margin: 48px 0;
}

.aboutus_section {
  background-color: var(--color-accent);
  color: aliceblue;
}

.aboutus_section__content {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 96px;
  gap: 24px;
}

.compromises_section .content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px;
}

.compromises_section__image_1, .compromises_section__image_2 {
  display: block;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.compromises_section__image_1 {
  background-image: url(./assets/images/compromise_1.jpg);
}


.compromises_section__image_2 {
  background-image: url(./assets/images/compromise_2.jpg);
}

.joinus_section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px;
  background-color: var(--color-accent);
  color: aliceblue;
}

.joinus_section__content {
  display: flex;
  flex-direction: column;
  gap: 24px; 
}

/* Medium devices (landscape tablets, 768px and up) */
/*
@media only screen and (min-width: 768px) {
  header {
    max-width: 1320px;
    margin: auto;
  }

  header ul {
    display: flex;
    list-style: none;
    gap: 16px;
    font-weight: 600;
  }


  .products {
    display: block;
    height: 400px;
    width: 90vw;
    margin: 48px auto;
    max-width: 1320px;
    margin: auto;
  }

  .compromises_section {
    display: flex;
    max-width: 1024px;
    margin: auto;
  }

  .compromises_section__image_1, .compromises_section__image_2 {
    min-width: 50%;
  }

  .compromises_section__image_2 {
    order: 2;
  }

  .joinus_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 92px 0;
    gap: 48px;
  }

  .joinus_section__content {
    width: 50%;
    max-width: 700px;
  }

  .aboutus_section__content {
    max-width: 1024px;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .bottle {
    position: absolute;
    background-position: right;
    right: calc(100vw / 2 - 500px);
    top: auto;
    bottom: 48px;
  }  
}

*/