:root {
  --color-accent: #0079BD;
  --color-background: white;
}

/*HEADER*/

header {
  display: flex;
  align-items: center;
  padding: 16px;
  height: 72px;
  flex-direction: row;
  background-color: var(--color-background);
}

header ul {
  display: none;
  text-decoration: none;
}

header li {
  text-decoration: none;
  text-decoration-style: none;
}

header span {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(./assets/images/icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  display: block;
  background-color: var(--color-accent);
  margin-left: auto;
}

/*HERO*/

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  padding: 24px;
  background-image: url(./assets/images/hero-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  color: black;
  margin: 10% 0 48px 0;
}

.hero button {
  margin-right: auto;
}

.bottle {
  display: block;
  position: absolute;
  top: 55%;
  height: 600px;
  width: 100%;
  z-index: 1;
  background-image: url(./assets/images/product/bottle-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/*DIVISION*/

.certifications {
  position: relative;
  display: flex;
  z-index: 1;
  height: 180px;
  background-color: var(--color-accent);
  align-items: center;
  justify-content: center;
}

/*Productos*/

.products {
  position: relative;
  display: flex;
  z-index: 2;
  margin: 48px 0;
}

/*factos no tan factos*/

.factos_section {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: var(--color-accent);
  padding:  72px 48px;
  gap: 64px;
  z-index: 2;
  color: aliceblue;
}

.aboutus_section {
  background-color: var(--color-accent);
  color: aliceblue;
}

.aboutus_section__content {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 96px;
  gap: 24px;
}

.compromises_section .content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px;
}

.compromises_section__image_1, .compromises_section__image_2 {
  display: block;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.compromises_section__image_1 {
  background-image: url(./assets/images/compromise_1.jpg);
}


.compromises_section__image_2 {
  background-image: url(./assets/images/compromise_2.jpg);
}

.joinus_section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px;
  background-color: var(--color-accent);
  color: aliceblue;
}

.joinus_section__content {
  display: flex;
  flex-direction: column;
  gap: 24px; 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    max-width: 1320px;
    margin: auto;
  }

  header ul {
    display: flex;
    list-style: none;
    gap: 16px;
    font-weight: 600;
  }

  .hero {
    height: 60vh;
    padding: 48px 96px;
  }

  .section_hero__content {
    display: block;
    width: 50%;
    margin-right: 320px;
    max-width: 512px;
  }

  .bottle {
    position: absolute;
    background-position: right;
    right: calc(100vw / 2 - 200px);
    top: auto;
    bottom: 48px;
  }

  .superficie {
    display:block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: url(./assets/images/hero-surface.png);
    z-index: 0;
  }

  .factos_section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .products {
    display: block;
    height: 400px;
    width: 90vw;
    margin: 48px auto;
    max-width: 1320px;
    margin: auto;
  }

  .compromises_section {
    display: flex;
    max-width: 1024px;
    margin: auto;
  }

  .compromises_section__image_1, .compromises_section__image_2 {
    min-width: 50%;
  }

  .compromises_section__image_2 {
    order: 2;
  }

  .joinus_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 92px 0;
    gap: 48px;
  }

  .joinus_section__content {
    width: 50%;
    max-width: 700px;
  }

  .aboutus_section__content {
    max-width: 1024px;
    margin: auto;
  }
}

@media only screen and (min-width: 1024) {
  .bottle {
    position: absolute;
    background-position: right;
    right: calc(100vw / 2 - 500px);
    top: auto;
    bottom: 48px;
  }  
}