:root {
  --color-accent: #0079BD;
  --color-background: white;
  --color-background-dark: black;

  --margin-mobile-y: 48px;
  --margin-mobile-x: 24px;
  --max-width: 1024px;
  
  --letter-spacing: -1px;

}

/*HEADER*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  height: 64px;
  flex-direction: row;
  background-color: var(--color-background);
}

header ul {
  display: none;
  text-decoration: none;
}

header li {
  text-decoration: none;
  text-decoration-style: none;
}

header span {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(./../images/icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}